{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid" id="spin">
        <div id="spinLogo"></div>
        <div class="row">
            <div class="col-md-8 offset-md-2" id="divBody">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-md-12 pr-0 pl-0 pt-5 pb-5 mb-md-3 mb-2  text-light shadowBottom section__img">
                            <h1 class="text-center display-4 font-weight-bold section__title">K.wax-Design</h1>
                        </div>
                    </div>
                    {% for home in homes %}
                        {% if home.isActive ==1 %}
                            <div class="row">
                                <div class="col-md-12" id="divImg">
                                    <img class="imgHome" src="{{ asset('images/home/'~home.viewOne) }}" alt="{{ home.viewOneAlt }}">
                                </div>
                                <div class="col-md-7 mt-1 pr-md-1 mb-1" id="divImg2">
                                    <img class="imgHome" src="{{ asset('images/home/'~home.viewTwo) }}" alt="{{ home.viewTwoAlt }}">
                                </div>
                                <div class="col-md-5 pl-md-1 mt-1 mb-1" id="divImg3">
                                    <img class="imgHome" src="{{ asset('images/home/'~home.viewThree) }}" alt="{{ home.viewThreeAlt }}">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="row mt-2">
                        <div class="col-md-12 pr-0 pl-0 pt-5 pb-5 mb-md-3 mb-2  text-light shadowBottom section__img">
                            <h2 class="text-center display-4 font-weight-bold section__title">About K.wax-Design</h2>
                        </div>
                    </div>
                    <div class="row mt-1" id="section1">
                        <div class="col-md-6 p-0 order-2 order-md-1">
                            <section class="p-3">
                                <h3 class="mb-4 text-center p-3 p-md-5 text-dark font-weight-bolder" id="h3Sect1">Lorem Ipsum</h3>
                                <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </section>
                        </div>
                        <div class="col-md-6 p-0 order-1 order-md-2 text-center">
                            <img class="w-100 p-3" src="{{ asset('images/site/atelierKwax.jpg') }}" alt="Kwax design atelier wax africaine">
                        </div>
                    </div>
                    {% include 'logo/footer.html.twig' %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener('scroll', () => {
            document.body.style.setProperty('--scroll',window.pageYOffset);
        }, false);
    </script>
{% endblock %}
