#spinLogo {
  width: 300px;
  height: 300px;
  background-image: url("images/kawaxlogo.jpg");
  background-size: cover;
  position: absolute;
  top: 10%;
  animation: spinlogo 10s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  z-index: 11111;
  border-radius: 50%;
}
@keyframes spinlogo {
  from { left: -300px; opacity:0; }
  to { left: 50%; transform: translate(-50%) rotate(360deg) }
}
#spin {
  position: absolute;
}
#historySection {
  position: relative;
}