
.contact-form{
  background: #fff;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-form form{
  padding: 10%;
  border: 2px dashed hsla(0, 0%, 0%, 0.5);
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  font-weight: 600;
  cursor: pointer;
}
#contact_content {
  width: 100%;
  height: 210px;
}
