#section1 {
  border: 2px dashed hsla(0, 0%, 0%, 0.5);
}
#h3Sect1 {
  background-color: $greenWax;
}
.footer__p {
  font-size: 12px;
}
.section__bg--yellowWax {
  background-color: $yellowWax;
  border-radius: 5px;
}
.section__img {
  background-image: url("images/imgSection.jpg");
  background-size: cover;
}
.section__title {
  background-color: hsla(0,0%,0%, 0.3);
}
.section__p {
  background-color: hsla(0,0%,100%, 0.8);
  border-radius: 5px;
}
.shadowBottom {
  @include shadow-pink;
}
.socialButton {
  & div:first-child svg {
    background-color: $pinkWax;
  }
  & div:nth-child(2) svg {
    background-color: $yellowWax;
  }
  & div:nth-child(3) svg {
    background-color: $orangeWax;
  }
  & div:nth-child(4) svg {
    background-color: $greenWax;
  }
  & svg {
    width: 100%;
    border-radius: 15px;

  }
  & svg:hover {
    fill: #FFFFFF;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.75);
  }
}
footer {
  border-radius: 0 0 15px 15px;
}