#customC:hover, #customC1:hover, #customC2:hover, #customC3:hover {
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.75);
}
#customC:hover{
  background-color: $greenWax;
}
#customC1:hover{
  background-color: $orangeWax;
}
#customC2:hover{
  background-color: $yellowWax;
}
#customC3:hover{
  background-color: $pinkWax;
}
#navColor {
  @include shadow-black;
}