$greenWax: hsl(159, 45%, 71%);
$orangeWax: hsl(25, 88%, 57%);
$yellowWax: hsl(48, 97%, 60%);
$pinkWax: hsl(355, 78%, 69%);
$colorShadow: hsl(0, 0%, 15%);

$theme-colors: (
     "greenWax": $greenWax, "orangeWax": $orangeWax, "yellowWax": $yellowWax, "pinkWax": $pinkWax
);

@mixin shadow-pink {
  box-shadow: 0 16px 10px -14px $pinkWax;
}
@mixin shadow-black {
  box-shadow: 0 10px 10px -14px $colorShadow;
}
@mixin shadow-top {
  box-shadow: inset 0 15px 10px -15px $colorShadow;
}