@import "variable";
@import "menu";
@import "home";
@import "animLogo";
@import "grid-gallery";
@import "contact";

body {
    padding-top: 78px;
}
html, body {
    height: 100%;
}
body, ul {
    margin: 0;
}
.sofa{
    width:100%;
}
.imgHome{
    width: 100%;
}

#divImg, #divImg2, #divImg3, #divArmchair, #divButton, #divBody, #divTexture, #divGallery {
    padding: 0;
}
.button {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
}
.navbar-brand, img {
    vertical-align: baseline !important;
}
.navbar {
    padding: 0 !important;
}
#navbarNav{
    background-color: #FFFFFF;
}
#navColor {
    background-color: #FFFFFF;
}
@import "~bootstrap/scss/bootstrap";
