{% extends 'base.html.twig' %}

{% block title %} Kwax Design!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12 pr-0 pl-0" id="divTexture">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-md-12 pr-0 pl-0 pt-5 pb-5 mb-md-3 mb-2  text-light shadowBottom section__img">
                            <h1 class="text-center display-4 font-weight-bold section__title">K.wax-Custom</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 ml-auto mr-auto" id="divArmchair">
                            <img id="armchair" class="sofa" src="{{ 'images/site/fauteuilkwax.png' }}" alt="fauteuil">
                        </div>
                        <div class="col-md-5 p-4" id="divButton">
                            <div class="d-flex flex-wrap justify-content-between w-100">
                                {% for texture in textures %}
                                    <div id="{{ texture.id }}" style="background-image:url('{{ asset('/images/texture/'~texture.image) }}');" class="button m-3 hexIn"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% include 'logo/footer.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% for texture in textures %}
        <script>
            let {{ texture.name }} = document.getElementById("{{ texture.id }}")
            // ou b1 est une valeur dymanique récupérée du backoffice type Id
            {{ texture.name }}.onclick = function() {
                const armchair = document.getElementById("armchair");
                armchair.style.backgroundImage = "url('{{ asset('/images/texture/'~texture.image) }}')";
                armchair.style.backgroundSize = "70%";
                // ou url est aussi une valeur dynamique récupérée en backOffice
            }
            ;
        </script>
    {% endfor %}

{% endblock %}
