{% extends 'base.html.twig' %}

{% block title %}Kwax Design!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12 pr-0 pl-0" id="divGallery">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-md-12 pr-0 pl-0 pt-5 pb-5 mb-md-3 mb-2  text-light shadowBottom section__img">
                            <h1 class="text-center display-4 font-weight-bold section__title">K.wax-Design</h1>
                        </div>
                    </div>
                    <div class="gg-container">
                        <div class="gg-box" id="square">
                            {% for gallery in galleries %}
                                {#        <template>#}
                                {#            <li>#}
                                {#                <img src="" alt="{{ gallery.imageAlt }}" loading="lazy">#}
                                {#            </li>#}
                                {#        </template>#}
                                <img src="{{ asset('/images/gallery/'~gallery.image) }}" alt="{{ gallery.imageAlt }}">
                            {% endfor %}
                        </div>
                        {% include 'logo/footer.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/grid-gallery.js') }}"></script>
    <script>
        gridGallery({
            selector: "#square",
            layout: "square"
        });
    </script>
{% endblock %}