{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2 p-0 mt-3">
                        <div class="col-md-12 pr-0 pl-0 pt-5 pb-5 mb-md-3 mb-2  text-light shadowBottom section__img">
                            <h1 class="text-center display-4 font-weight-bold section__title">Contact Us</h1>
                        </div>
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div id="contactForm" class="container contact-form p-0">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.name, {'attr': {'class': 'form-control' }}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.phone, {'attr': {'class': 'form-control' }}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.email, {'attr': {'class': 'form-control' }}) }}
                                    </div>
{#                                    <div class="form-group">#}
{#                                        {{ form_row(form.captcha, {'attr': {'class': 'form-control' }}) }}#}
{#                                    </div>#}
                                    <div class="form-group">
                                        <button class="btn btn-greenWax btnContact">Envoyer</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.content, {'attr': {'class': 'form-control form-content' }}) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="container-fluid">
                            {% include 'logo/footer.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
