<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
<div class='row' style='margin: 5%'>
    <div class='col-8 col-offset-2' style='text-align:center; margin-right: auto; margin-left: auto; border: 1px solid rgba(128,128,128,0.4); box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.75);'>
        <h1 style='padding-top: 5%; padding-bottom: 5%;'>
            Nouveau Contact
        </h1>
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
            <tr>
                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0" style="cellspacing:0;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;">
                        <tr>
                            <td style="font-weight:bold;">Nom</td>
                            <td>{{ contact.name }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">Téléphone</td>
                            <td>{{ contact.phone }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">Email</td>
                            <td>{{ contact.email }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">Message</td>
                            <td>{{ contact.content | nl2br }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>