<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="k.wax-design, kwax design, création, tapisserie, meuble, fauteuil, wax tissus Africain, fabriqué au Sénégal. ">
        <link rel="icon" type="image/jpg" href="{{ asset('images/site/kawaxlogo.36c6c2b5.jpg') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'logo/index.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
