
{% block menu %}
    <div class=" pr-0 pl-0">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top col-md-8 offset-md-2 col-sm-12 " id="navColor">
            <a href="{{ path('home') }}" class="d-block m-1" aria-label="logo kwax-design">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="65px" viewBox="0 0 200 65" enable-background="new 0 0 200 65" xml:space="preserve">  <image id="image0" width="200" height="65" x="0" y="0"
                                                                                                                                                                                                                                                                href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABBCAIAAAAbhXzZAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAFvck5UAc+id5oAAEo2SURBVHja3b13vGVV
eTf+lLX23uec22bu9A5DmaGqVAUxig1BjYKALbH+jCUxxZTXRASNrygSDBoVg0TFYMyroIAaC0hx
CAMDDDIz9JlhhunttnP23qs8z++Pde6dwlwSEv3E913uD55z5tx91l7rWU/5Pg29Kvw2DQWwAE4U
ADhGZyUA9wYGBOCxWnoIwKIHUWD1wAx40PugMCAggmq6a3dERBRABAAQjYyEiDFGIjr4hBBVhIhE
RFWJOUKMKjnGIJaV0XswMRqjYCAEZqMAsv+kSA/85P+6QQoiSoSEIAIAQAQikJZNNK0zKIGIIqL5
n57wgWOCBIgw1CEaBARQiGn+6TGAABEBVAkn2TDBgIgKAAgAAgAICAAEioSiAkBMpCAhRsNGQQ56
HwQGQgAhgqgqIACIiE4sEIsCG2XDpXNE0uTst+uY/vpGWmdECEGYCQBiVCJMb2MUYwgAggIRqsJv
HWGBAiB471E0M7hraLRdlZ0oVeyBbLdKTWoZaokMpALWYn3w2+xLJ6g4QYBRmDmoSFRmBiARQaZJ
pyMIqkSkGlUVmUQ1gqLxtWQDAz0F1T3ctLbBiKGqOc//p1fwNzUQMUYF6MoBVQVAYyhGNYZUIUZB
QwCgqr91hBWjqlFrmQCiK//hi1fd+KMbe2W4JxsQ2gbSJGBUB8rKIEpmUlFu0hMCQOJc6TUBhhCY
GdmEEBAYjYkxTr6aoKoGSVUVoiIKKDIFqE3Pwos+ecmLTjjaBy9Kxho02f/0+v2mRpTIxApAQN57
Y4wxFEIwxiCiCKQPMXGG30JRaAw6XwIbRMpttmb1o4zmgvNfI0P3uRgwtBkJsAa0gB4AQXoPep+g
bR2nuQl2papFZsuyZDZ5ntc+xhiZGRFVDy5TiUREiFFVVRUQFYGs2f508b0f3zm6bYuBpQoERFEU
BQ3/T6/gb2YQkajEGA0xAIQQ0vJWlVNVm2VZZgGgrJ0xxjD91hGWKgCqIQMqgIqCp5xyyof/9H2w
7RveDVIAAgV2ipbQAYBMKs27shARAWiCtoJ4IlJVESHA9FpVcbKlwKBREDGto6IqgsmzdWtmrlix
uSArqqhEDCHWRVbA/6NKVozRsBEUIooxXnHFFT/5yU9arVZZ1v39/X/04Q+fdtppAJDnWYwSovzW
EZYgWEMKEVQAxNoCFaIfg3JbrLZiUCSN7BSKCJUBBioPeh8N6dFwfKO7WlQkQWMURHxAULQWNQbv
gSaTYqiqXfsSAdKbkJedYYgVUQ9Cj7EcIBKpKvxfbvxNOgwbSORFPDo6etNNN8UYlyxZ4n1ExIGB
ASKoa29zi4i/jaIwBMkN1DHkbCFGEamqmi26UItUCAgKGqNqTOYehcmU5cSxCBJHki6BZT352PAI
G2w2GuBDGOsYQjMOSxxkaKYx4DgYISqIAGwCDFFmozZcZEPgYpVZ1KhI/6+SFtSuttYi4tq1a3fu
3HnllVe+4hWvAADvo7EcguS5rUNkZkIw+2I8+5pGMsnZm2z9JzP7J9Wt8YD/746Mo9OCUEBUGYi0
iQMqDclqWwfmzDFwRFYMTDGAmZRHZAAmKBAHH0tq5dSY2/atAocb0wb82C5fVpYzjhaKptOYTaq+
E5Lt6vCowiAobKKBLMRCxecUA4SGzTTYyEKIAAkVgahda1S67O65DDzIgyVbjAgBuqgSdjGk7g+p
KhP6EK1hAJDnLpcnVMQDgLcoMcsyERGVBx54IMuyww47DAC8AlqOAEroohjDABBlcqvw10VAk36/
u3rP/D6mW42jUDJ+/xzUiuaqoMACmSoDgEI46P1jYM4Q1QUtwZqOn7v8Hr3p58vnTo9veM2phy/o
96NPiAhkEGUUiBUak8y/AkwLjgA0rq4ZEd/dTkJUBEBVkP01LMT/BvfSA1eHFFRBsEtM3TVHAIAJ
ChMRJraGRSHGaA0/V9I6KJqnAEyUYGRCWr9+/eDg4NSpU8ftGXzm89J/6td+AwNhMpZIz9wPRAQM
gEHBKThAp+qBPFIQ4INepmg63yFVazBv9Sy7Z/vn/3F134I3P7L+iK9e8/DmzZA1mwFQDLMF8DDZ
fWAcylJVQAFIVwBEQRBQUI2JlQDof4eSnnVQ97AB4viZRNwHTwJRIARmFt37Ooqmmf3XromnnfhF
QlLVdevWzZo1q9lsxhjTwozPZ+/jm2fa5ONDJnnGSVwoz3lJn+0PEq4+PgcBUI4FaxPVAkRWVskx
RooI6A56B1/tzjMItRrKgueb/+3flz7vvR+95OJym3v3ecdv3bJr3mw0tvASWAldRvnBn1e1oaAA
qBAxrTPK+DIiAKS9i6iEBxVf/+UhE8yA9lmtif0iJABQkGRQqKoAEpKohBCstYTogmf73NRomvwR
iEhBd+/atX379lNOOcVaCwAxTljf3U1N83vOyrtOIvMmY/uTfX/Cx3eALO9KwL1/nnQfARwhHAMw
jIoYUF0EQUKIBweOjPES1RTTY90hY+ZOm/bIxrVPPr7mkeUrG6ae2l9AGJGIIIqo1uQgYwe9T2RD
Xb5OogwgGhXEiFRptkREQAioCrqPRjB+kv97AvEZg6CrUSXORdAlcgUQESAwSGRMDIGIcmvlOd7/
mfuVlEMRZWIF3b17944dOw477LAYo/eeshzGFaF9uanZ744TwnIv5f3XJ/SfXalxB+2E1vWMfRAA
AGmo5ghGVAGMqgUVUFA8uNaNxmoQV45ljcyH+m1vevmnP7/8I+84y8juN531/IWLBkC3kyoyAEal
zqTzw1qQSAmUVI2qJUSQDCdcSaqiYpB0H4V739UYf/1fXZ8D3iJJ4pITExzfNcNGQbsQOWkCRui5
/u7+x0DGt0MkEhECbtq0ac+ePYsXL2bmGOO+x2aCghDBTBgUBwye5JzFX1M0BE6+2Ekl1S6D7yo3
njxyQEChGEFVKZBT5aTCP3PUVWi0ml5c1A5BXDh/5JK/PPXeB5+aOWvx8Ucvqst1GlxuGghaCQiU
liZR3kFBUBLOgR4JAQQoEiIpgKiIgIgyIgAD6j5OynGH0n+dY+E+p32/z/fXlxN6CQAIqKoKmogg
Shco/29uEwCwsQDgvFu1atXg4OCiRYtEhIgmdvCAaXYdagfRl39tutQkYzLY6MCl7H4vQhEhR7Ae
IqEqctgbvHCQkTdbo5XLmrnze/qaWnZWzpwx45xXTxUZduEhj77V7MVA3nvNmtyCUB9caJjQRACA
KBgAHZAD9GBsjIWIAKRAC+yehH1AhQmm8l8jr4NaVaigqLBXwVIETErVvffeu2vXrizLsizz3otI
URRVVT1XwtJxnekAeASZ0rjtttsOPfTQBQsWiAgiAsIBO5ae2yAyYoqhSduEySYgRVFBIlFhJJDu
mjFqQiiROaowEgNG11US951N0pXQB824FsnJgGoAZAAKKiwT5joDqkLsCmni6JVBMLAYFRPySmPR
16mCU7A7Cs0zaUq7XfTklXaymADSA7ct4khPRMNUxkZnW92iKVCWgZ4KlFlHhUHnxpSblmsOtd9p
9o9K2EtkQpFcmwA9EGasQZULB02vcytaH9AKGcFaQyMHCDrC2i8IFYYGovEqGXcAWwHUTHaSJvFR
KjgKAJJFA0rBAIg3sQZbaNcGJImACKDoa/exv/6blStXNhqN5PokAhUBANUGM/pQMSMReafEGSKD
1EnNRQVFiF2rFiIFAQtRGOrcsKvJFkU7jmZBAaDRaDy1YcNFF13sgrfG+hj4Gbwmve3qWESIgKoi
KklHU4SgSgARVFSYEAAUEGMgJCIDCiwIoEhoeO+yjQPe48NQBDTU9XsTggAQIRF2SR4wxEBoGEEB
ooBl69QTKKCx1nYhyrmv0XIYrc8ghjqY2U1X11lOovuHzezdp6YhlLo2iDYvQgghOC6sRgnGQYBM
mp7I+dFGbgAjHwiHdR9IeIClBIiGm1GIY8UZQqNBW3dg8+FIErxDGzIDEEEwD5QEoxENrBIACIxg
JJiEc0zGyLBr5ytTBKgADJEhKyqEJopGUWYEABVU1b/5m7/Ztm3bwMBAVVXMbAx555g5Bkx0FkIg
howz772qguGJw584rSIIQK8PwpmyUY6uXTeyRhAAji66ZrO5Zs2aL3zxi9NnzrDGhhj23fcDRhKF
+7My0LIs3Ui7XXZsnocQRISZCUCjWGt9DBOMXURAiYhYpauD4152RQqq6lCttewiIntU730BTP3F
4OAgAEQVIqIEyURFRBERAWuseK+qI0MjwzuHxuCEMTEF9mC1h7M4GjQvCnbedZ3HB4oOo0bAk/UY
VEOhJqvJSfA52gpHciry0AgcIkcrXNmRXAf2znufERRQa4UQY5O1yMBL2bbcE8yvxsKNLnayDKNC
8DVTHiKN7tzlO22TcXD1lKI1JGUN0A/W48FdT5MBvBwkWAigrARKkREhgHdkKUadPXsuE3ofiQgR
G63mkUuXHLl0yeCUqUQ0NjZmTBcOzAjr2pPJRCTGWGRECCIhYg8eYGQACGjTl5LzmATKWqSQEQbn
VdGw2ixDokajNX/+fACIMSoiTSJqTZKDXQwSMe3rrl27PvJHf7x2/XqTWSqyoKIh5shTe/o86lhV
Cmi7KnNjiUwEBUT2Xp4hCglACAMgIbKLxlrPQFHjaOc9H3rfW9/61majmahWBEII1poQIxk2RE5c
xtzf33/9Dd9924UrhmIGMTNqG0Y6ccwzWM6odsE8Q+lWAoA8QpsqW1gqozrERiNoxRoaCttF+oqp
UNeBfWH7YtuVedvAxMbvp2whCQVBg20Xm7Ynix0vNeZTuKx3bdszMFCoBlECyyQQXbjk4oseXflQ
0dtyoTaKjkELy1Xw5uAENJmymbksMgpj9JKxYTYxBhD1cbTV7P3Yxy8+6cRTEJEZnQts6K677vrC
F74QQsiMLYqi3R51zhFRAytQRM6syYNKVXWIJcssRE74/V53UOIIbMs4ioZ9zYZZwdksE7AF5yGE
rdt3iMiCBQtCDNbaZwGEzQQKp6A4rrOPjY2teHzNqaefduhRRz729FOeoa/RWn33ipvv+EWR5Uuf
f9xxp57kNIIgKQQVJRTWA1CDLsdiE1VAlKMKqBDGsr7rxz9fv359o9EAAGZGwCiSdODcsPdRmIlI
YwghdDqdVmPOiwaN7t5axJo462iwGQXXsT0m6AFRCTTOioM3GKPkORNRFbxFmGILH4dG/YC1MbT2
VKotHkEboqUAQ+OktB9hKVRGeqzlThjLaad3u1tTZ27aTT9es71RMIQ6Ciq3RIAlqus8tuHJO++/
2/a1IMuo9KoqGWuINInMoEniALJMXR3YmhijRRInEdC0mrGzu9noKdsdZowRVIGImOjss89+4okn
Lr/88rIsc5udf/55J5xwwoMPPji2YUVPo4cQ67q2NqOs5aNTBAtOtbtlmCxcAACofcGMrJJjiwDL
0IFmsXH7yIrV63fu3Jll2fvf//4lS5YEEQEKPthJAFgD49qWqooqETGxqg40ei4497yTX/7SX6xe
Ac18aqPnO0Eeve9BNub4F5583nt/fzT4uq4tEDOrIVEVfAbHUlDiEKNhtMQuhqzIw56xzU+uNcYg
YO1qZmZmw5QcFAKBmRRBVC2DQow+oMCbXnLylM7G3nJbFKBmf+3aTKooEJ/xYEoA4LlqmIYfrotG
5jiWiK18+q6NQ2bK6Cw7s+zsjM0e0AwrX2S2DtYcxAwTAKiM47qf1GFWAUgnTuVZh//b3WM/vm8T
oTFoDBcjwceoRWZIfcOaqVP6tac5Y/as3j1low7IiIhZPRmwbA/6eW3GxIvhLIIWiCDojNlSdnY0
m61mCwBCEEQMIZJlLzHLsr/8i78cHBy85JJLRkdHN2/e/Bd/8RfveMc7HrntXzZvXNeg2MDgXAVM
HhltpsFPQNNdfF8BAQKg5UghcgTvtH/mnFUbt/7z9TeNtttTp0274IILPvo3f1N7n9ksRGGe1ORM
4MdewDQxRiJqltF2PDjvykoMVGikXRUeXPR1XY8Gv9t1FDRnq7H2LqYog2dahRnaWgIAIKqT2FKx
ri73jLgQFNQYw8SiAoopu0M0GMpjBCQFRMsUfb36oVU/mUZnP2+uqUb7ONajY4B5gMji+ECXTncG
MTKiy7yCDgFUjZ4Z63Z3rrtjzSGH9L75KEvVNpWeJphY71JAqQo0+99nnG9x7KGSUIbY18g9WdGz
8rHtP1m+dburqKc/xBy8Nq2tUYMPgMgeRncPnfSC4//+M5f2Pvr0ttvuZnFqoAB/0A2YDFgOaC0Y
EQoYQSKzHc2zm+5d/k8PLccWMjMhEqOOx3MCkZK+4x3v6O3t/bM/+7Mbb7p5dHT0y1/+8jEv/V1/
+789ufK2wdxPaVLlAoERn0tM7uskrAA1WQpgTXQxAAZjuBgYvGfV41/61k3rduyxWe8HP/jBP/zD
P7TWInIUPcA5eBDCUkhwAxBSlAgIqpqzqarKa3QMpbgGFJGx9q7ZbJIoAAhhjCJ1BaJZlnmJibDS
OaDxkDf1LhoSUIGolsZ8lVdlo9FARE0BnKAxxsxQCMnMIVQBYENGpBOi7+npqao9P7192fELz5o3
bWrY+QhmecgG1KPxFfIzTzwBQK9ED7Xm5PxQiyWK3v3Y019f9dTxu2e9dJ45tEdD3WIxjFpHj5xH
2ffwyUT8SNRgIWTGObdHueBW7z2rVq14cjT09gE3mVsAQOBztqhWbR6YSwTPsvjQeT3bR3sJpzaa
gs5r3yQc6+CEpVLnmHkXTbPHhzIQlVMG7oQIAN77LMtUVQSjRETMsowAnHN5lr/uda8LIXz84x9b
tmzZe97znks+f9UZL30dc3xq5c9N6UIItuj1IWboE1V190uUAAnBVNZw0ZEam8WatZu/8e07Nm2G
vLXoI3/9vg984AOMFEJIjGgigOfghEWiQqhdJ44mH6Qy7eaguRUEIRQaJ87MOInOsEcFr0YQ0aiR
6L3PueuYjUJRE2yoqsqY53k7OgRgBdNTlKNtCJ4VUGR8EizSDZiJmIloQ6CjYIlJBfv7S8+ry613
3Ldx0Wnze7KePsBmSbWhmLGPzYlQJJjwsatGw7UvEWIoemo75bE9zX+559GhvoX379RrH6/f98Kp
/dgZqhBtJkSOyEojcVmGrm8ZQAjAyp5ozJCqKYrYmn7zZvyXR3aj9XNURrEvWucYIEjGHTDYqbMI
sZFRDKFTi0UopWqXQJx5OxElMKHDEQDESZx5vZqPuBp6ChMc+aBejO10GpEI64JHgyfAQAKkVhAi
AgGh8T42isZb3vzW4OXiiy9efs/9f/ZH7//7z15yxgvPADe27lf3DzYN+3LAuHYwTIiZAY0SIhJk
QBAiBweZsb1T12zc/vXrfvrE+l3Tpx36V//rorf9wYUpkiLjrEsNiCrjoWfPPNzpSwewNVVNNl03
WkO7KjEqMCJoVNWExAJAihxveii8chVIQQ1FVBHJFHuKRmd0jIh8CF5iVVV5nhuiZzLSce9EjRSB
0llCRD7h+See/sLT9+jMHzy0+c6n28WUwwI2apSUzsOgpLLvhRJBYofEFLlxOB3n1MODP/v39RuH
2ggdX4z9aMXQo+v7CtuUTJH7W67R6wurakSMCMSAMRAIKxBgLtNr8FWehWzGcGz9/K4nd+3KG2he
8vzDpjQgutISMlsRBmWmrDBWap8ha0DxlHGTxRo9qL9IACCLB79K8JhbD1K6Wqy1rZaQcVFMVCOQ
CdI4s0sQVIxiLVvLZVmL6AUXXHDRRRfNnz9/5cq73/UHH/rRrb867swLF570kl1gR8F2pGBLitQe
89HnBE1DLQFAa9oNiv09q57e9s0bfrJq7eap8+Z95JL/9aZ3XxCjpJRd+M+NgyR86l7HfPdY0bgm
PhGfizr+iQKqEiArkIt5BKuoIcYYczYtm9/545/dd+ddVtUwW8sCCiLR75vpsJ+7gxlUfPolBeyM
dY5esvS9737XlJ7pa4bd9x/YuGmkKbYXKBIEiUwSWSVdBEIggIKkWVSMHUIptXn/Nv3ZozvqKKfO
G1jSp48N8/dW7t5WN9A21I1moQNqWbzRwBAYAqqgJthaR5SJnfFi8/m3P7L9ns1joyWeunj2i5fM
7odaqxIBQEnUglpWJlQVBVUDiAFQmCFHsRgVRVHiPv9VFGU9+BUIPEhUITJGWZ2gw0bMjQBPqBkp
Emv8CKpCXXsiquu6KLILLrjg0ksvXbxw7von17/7A3/6f25edsxprz38hN+JRX87go9eIjQb/ZYa
4hjUlk48iE4ZfOCJp6++7sbH1u/unTLvI//rot9759spCxNUtU/K07MSFuyP/e4Nz9LudcDbfZFP
SKl2qiIyGivTzIgAY5CqGmz1TMsb9/zs1uu+8OVfXH9jGGm3TJ74vh/PZ9+XnlIIGwAQ2DSF5Inz
ribyL/udU16zdGrLhAfXbf/pAxs6pjezVGgQYsCg4AGDUhAMggEoAsWmVLm0TS8/Fqtr77t/7ejY
vD7+4JnHXHD0YE+Tf/DQup8+uiMWPVQ4zTueRlEDakgZz8SgKAJRIGrTWa17bbF2Z/2De57YXurM
aXzWGYtm2yrzbQYEAREAJEVAqYMXYzjGCEzIEEKFrEGdZ/AEnve/CEorB716FItamgF7KYOgEsCg
QUGPGhGEELpY+biHQAQRmDnPbaNRjI11iqI477w3XvG/L3ve0sN3bVr/J3/4oZu+f8tRx55+xDEn
a6MZwAiS+CrWbQRfVR1ji6w15aE1W/7P9bds3LiLtfj0Jy997+//njiHISRHITPh3sIF/xFh7fud
vfSIezF0HBeIAKAakxTrZgZPvM64g7FkDYamTZuGpbv1uzd+7x++1tm6qxExDI9S8OJTpijVMRzw
c3vFQyDCDDQFSmmeczm6C2T4TacdckifLb29efXmX+0ObJtWAoNLqxwRAqhA1zWhCIgjAlpmgz9+
ePPyp3dkls46fsFLFtHZz5t+3DQcDXz9fU89vKuqi0HHzR4ZiigRQVEDSoAYSSJJIOlxQ9ThujX7
+oefenQHmuHRVx8/eNQiY6sxjGI4TxUigAEwgHQUCYwFJkERlsjecwW27nHa46Cnhh4nPQ56nKTX
LQcHvTKvTSQbQUOMIlRkktlSpDZQG/AMQtA17ABIgS0HBWByUbxI1ihcDC7Ka1//pr+7/MoTjjt2
+4YNH/3TP//+DT9ZfMLLFj//5UF7OrUoOpM7W3husO2dev/qTd++/o7Vj2/r6Z9x2d9d9vvveGt0
gYBBM2ACRkE44Ho2wjpg7BvXMLFPE3xLERAx8V6gLjaBiC2Tl2VZk2atRnt45Eff/u61X7xqz4bN
ixYvOvdNb5wzZ44hNsaISFChbD9Tbv/oIiCi4KI1VkQMAaJ35a5DF8x42fOWZAS/2tH5wa+27oRB
NQ2UsiuqCcY1eAEREEFVas27b3N2wz1bxkJ+8uK5bzzxsP7da+cV+etOmjl3Tnb32tGf3L2t7ad7
6We1wEYIA6ioRhQBARIwipXPs8X3bdCfPL5zU4VLZ7Zee+yMWXUbYxVVPLIAIEnXpU8KyCEEZhtC
COKBpQ6lGh2yctCrzQe/drAfK3AUQwdjMOjFi3MFYkRIRUdkPGA1nfwoWlUVIaTtMEwxxhDCmAun
n/GSv7viqlNOPu2JDU/+5cc//v0f3nnYC1595AkvpZ7ppVDbl5jbYItlD6795g23PbRuR2vGvL+4
6ONv+b3fq0JZSg0ZR8MpfGnimtis50BYEyQlB/sQAARUUbQbqAsRIhBqWQ/kzalFK24buu3b37/p
m//S6XTmHHX42/7kA6e/9lUV647hPVGEiAAx6qRqIHPi64EAVCB6yY3NDMd66NXHLzhhrlUtb1+9
9bb15WhjuuW9odWESIiswApGgLKp23Dw+uXrN+3qzG3C605atLAI1G7bsepVRw68+NCciJY9tOOh
9ZUzUwO1AA2iSYGGXQ0S1YBqz9TtOHj93ese3T7W5Pqc0w5ZOlVtpy0mVCgVREFAFRFBYFBiQA0R
RJkIlQwUFguIJgfKAXKgAy6TUNZnXM6yB4wI1lpmRBWOsUA0Auli7SZ4dNeNsNEoYNxFowDW2iLP
8oxC1Bee9vxPXvrJU047dd2mTe//8J9dc+31h57wskXHvEh7ZgXTP6aNX65ce9V1P/zVhuEZc+df
8reXvuPd7/MiJivY2gCi4xD6fgzoWeOADiSsRJd7BdM4eU3wLSUUiKqaUJAYYxRRVWYujJWdIz++
5rqfXvPtODR25POPe8fH/uyo00/c7keHXNkzdYAMuxBS8vFkExIVUW8zjBCJDJGRoBohd0NLet3v
njh7Zl5t2TV60z1PbJWGQqZRNSoJkKJRMkpWyCi1G1Nvf+zpXz70SI+rfvf4Bacd3ld1tgbgqKPz
RN58zBHHLmg+Nrzju/c8tis2YwEgiEoETICESKioABJrk9319NO3rN9Q+nDKwqmvPmpGQ4eVarUQ
94syJADSAAY0J4NBmrbVMC2CrJX3U8z6xfSr6VfTL+OXUr+aFtmDXrO1GIxmipimMgNmPU3qL0a0
zgNkEWwElC44kn4+RFEFHyIRIkIIkYh8iCbWGXeiDL/4JS+47PLPHXXkUVs3rFv/xMpomktPPOOQ
pScWA/N/fudD//y9f9uws5x9+HF/f8Xfvem880hBPEmtDZuRRoAax6P8J659Wdczx4H+kAlMaAJu
OID0lLMgFBVV1RpT1zUKcpb1Mu3ZuO1fr/qnX/7wpwR48plnvOH975y99Iihzoj3Hgh9VbNAX2/D
uY7dJ7TwADWLBYCKylQUrCOICM70gbQGfLNdrzv9mBl3Pb77Bw+3f7Fx+AUPbf/zY2Z3zFbvAVRJ
QjB5hLxB2ND2irHi+//+xJZy4MRDzdknTuuTbRFNpBkl7RzobD29v/f8o+c8uo1+tmHo+FWPfvj4
uS7f4tRSGbFpYuV7pQgETQwb6ilfePBX6/3AC6h893HT5mVDRWVQbeZ9zQMIwKqqxkIdwQZjhqz4
EAh4zcan5rhqfd1+MijlrYghYRJRgxACMgXIiNsKFJUF2ZpKYxAt2FIQYjVKMQRPwUc3XXCs7Uq0
dWEKIkEJDCSEKfuBFIEUgAx3w5YMp7chWlAw3KrK8tSTT7n005+89957P/CBD+zetf1b3/j6PXf/
u7h65cqVO4bkmKVLPnXpJWe+/MWI4FyVZ5mqRhVSysQoTbj+uuzq2VX455xMEYLLmayKIfQYa/AD
zd6G0p61G6/9yjUr7ljW7O05/eUvPevN5007bNFY2UnG3ThmpRP6/mT31zRpQCQUxGRyqmrFIxr2
TLP2tS9aev+mBx4dcbet+NVZs46dOyenyCBBMkUD4DoumLw5c9ndq1dsWNvbmnHh8486oS8bK3dC
s29HWef5vMrXMY696OS5L9xS/duarTevWH/y3Kknz+537RHLHNrBIAlHAfUmv+G+x5/YOmacOf35
M48/vGnJjwr3NAveOQRBVGPXVuiWsoFmqAemNLc8ve6Df/TBrOxMHRluILbRxGhJokWIEAMqEpGg
Ua4wNGwWXB0kqmUlZFXwEZXRZsYLonoKFBRt8VRdMiADMiJpV3nHfeKUDrLBbJx3VagajUZd169+
9atf+cpXIuLHL7no/hX3vemNr7/t1l9s3b7z6GOO/9znv3DqC09VCCEEABCRFO5c+zrP8vAcI9Kf
M2FlbDSKhAgIycPTnzcevmvFj6/51qqVqzTKa857w+t+/804tWeoMxa6cpQSGq6qKgJA9B8VI0FA
IkBQTEHlALWhPHI+MnbCtJmvXHroxrvXP7KlfcMjQ2+ZN2eazU2502tNIAacnTr/tifC9fcO70C6
4OSZZy6xWG2tm3NvuHfbyjVPzeurzj556eEz8kO5fN+L5j3+9MZHt1ffu++pI848qj9DCLuNAFtT
akWtGQ9sGLtp9ebRYX7e7CmvPGZwZtEuqxhiFlQ4BBJFUVWNAIxdtE9YY05xrHzi/tW+0B707GK7
aARoZYQaY9RgMhshRhdzY5uVpMB5ahgx0PGlquY2ayO6mvIoTS+aQVmWBgvb6qWDHctn2XTnnbUW
AUUky7J0uMuyXL783tedc/bv//47j1569FNPbbjkE//7RS86tXZCLMyc2QwAklKUZZn38bmW0Xnu
6V+1R0TbKIZGhwYarcGi54Fb7rz2H766cc0jrSlTfvedbz3nrefXFkdHhrJGETt1ipQFIMQDswye
lbCUASSlBigqkgfTgJb6ug93/u5Jc+7ZuOf+p+A7q3cdeUj/axdOs/pUzF2QrMHZdme//su1j480
nj9v4I1H9w3mo2Mh/+59m3/8GL7wJe99esu/f33Fjve95IhDecuxA/A7zz/m2vu2X79m6LTFu15/
7Aw/tCMHAiHHxlPf9x5Z99hWP4Oy846Ze+KsXMZ2KjYKxkbVMQKsAinpEbt2DSqFQF5ZsDh28WE+
VDy2a3CwZ08tkYgAVaOiEIMCSDMSIDcsdcPggohAMSWVpTSGRtTnQBw85Yj9U9E0nh4Z3iNyQOb8
eADBJHFdNosSY4y57VJVVVWtVqu3p//uu+85+aST/vVfv9vbN3DCSScBgPe+lVlRcN4ZY1TVe1/k
BTM/1zSy50xYDbYu+AqiLfKilvtuueVfrrpm2xPrZiycd/bbLnzBWS9t91pfu9xm5WjbZrlOZHUK
EqKOx1BMSriYQlrTuwkxSgg+KtRGc9q+uD+87tSBdTt3rm2Hf1u27YXT5s+yPmBQ26oxv/WBjfc+
VbeKkbctnnr29FZstyvsefSRNSe+6p1/8om/3bxz519ecOG6HeWSOeWUOHLhi0//xePLnto1/K37
Hjx89ulH9AxIuwTOTc+UW58YuvGJnR3s+51De1+x2PbBSB0xWDIsoAZRERGTTxRwgmk01MS2m3b0
/L/928v6nt721C0/n8I2C1nO0qkrk1lrbV1XxMDWVq7cmYM1xiijE6towYiAiEwPUBtAa0pxiiET
7GTZvzy0/Dsrdx1oUysoKk+eaKqqmc1S3J8xptVqffnLX1710EO7du144IEHdmzbzsyf+7sr/vRP
/7TRaJRVx9o8xcMkUDSV1XyudPKcCUtEKLPCSJFu/9nPf/Dlr49t2XHI3PkX/skfHPuyF2/Bamc5
ap00gXtbrbYPhOMly7q1D7qP+iyElTCNvQmGSoqURYRoOmIpOBu2vuKopfc9vGfTmk13rNtz08Mb
33HKjGxkCzX6Vu3B7z+4YZvPX3PMnNc+byaWOyviDGnBAD/wyMMPPzW0deWvjH+itzEFiGVsbMm0
zR88c/YXvrduxcZ486od7z59bjMbQsYdsXH98kc3daZO65FXnbLwsOkdHdoG3KzBe9I+KAKrJBgP
RJW7WdGgEUVcRU1a+rzF00OY1t+yFJuYN7yPPX1RBA1zM4sxCiu0LDGIiIRo2BaciUAdg2nkvuOs
zYFpDFzB0OxgVWS/AIgpcBsA9sm7f5a08ihRRIAhhNBsNquq+upXv3r55Zdv3LjxpS996fve976b
b775X//1Xy+//DLv60984hN5nte1T0FyIYTE8GCSLLRfJ2EFghhj9CE31ofQ9rUpciDK85wAtfIQ
pGg10cWxqjRFQ0I3oXQ8RepA5+Azx/6uHlRCFbQSLWGbGiFwi6qZFF5/7OLVG7auHtFvr9p4zJJj
zmjN2d6W767avmLr2Px+fsPxC2bODMO7RyrNG7Fz/itf+MgPHv/UO8/vH9lxxnF85IJGeziPPdOq
PeteffjCNUccct0DO2/+1c6jF0175eLppfO3PLj+7rU7LE//ncPppIVN0o01IVGesYpED+oJAnZz
CFOMUERVgLZRESEftVPqrqF8tB1zGeWIXrAoyuhQOLeFj94Fz418al0EiYhZqKvSjbFBYOz4stPK
s7pDpYyJ1zzLKwpsRCASRISoKjjuEYHx8N9JFjOzWafstJrNuq4vv/zyL33pS9u2bXvxi198ySWX
nHb66SecdGLt3fe///2vfOVLIuFjH7+oUTRqVzOlmisKAMz4G1fePUZr2SK4unzla189JS++8fkv
bdq26Stf+vI7CA854VjKaawsrbWU2yAR909aVFV6VqsQlLSLKQupTMAfmR1mHCJusViQ2g1vO2nR
4WcfN2vLPWMPbO/864ObTz7riF9tePzGNWtHnHnfyYtecYhW1dpoTDNMaUAV6j1//ruLN21/empo
zpvd6h9zdexpi05jtaNb3vzChXdtkce2Pf2T5U+dOvf43bt33nz7fVXeXNAb3n7KYQsyN7prxGRT
IGQNjgrBkg8EQgIo++o2gmBNi8SCGIRCNCdnm0VWClsO7bZDm2c2r0oHYIpGs1O769dvdM4tXjBv
0eAMGBm1UWxGQXzTQVZDkwvLIRKXGMfIdtAq7Q3Qg3FO1c3uO9iIIlFjs9Esy/LTn/70l770pXa7
fcYZZ3zmM58+6aSTfAyHHnLolVdeGaO/6Qc3fu2afwTCv/7rjzWKRohhogh5jArPse4XTfibutva
TQrDhF/nSgQYQCMjEJIoeu0NpuV5tK63Yzj+1S9710f+2E6bsvWhJ776ub9fveKBvqI5kDep9EaA
VAyRgGoUAyigDYEiYsUqhDEpvyIIKBJFomKq1SAA4NQRZl65L3ZKzsEx+EZjrELujKIWkE0td577
vOnHzMpzCssf2nbDSrluZbV9CF48b/CCE+b2+G0wVnCdq46NaE3amRu3nDIVj5uGRafeU9YRdg3C
nrrmPYpLF9QXnDJnGpT/vn73d1Z1vvnA6JNt2x86571g7vNmkRsbsqbJ4KOpRoPW2qjQhmBypeAY
gVUgYGYgAFCrE71ybloxxrEGad4wtTp2Y1xU1mouGtuZ1M2BvnVRr77/gWufePS7O9defffPtm3d
OrMYCAyj0RUKHTYuM3tCp8zDGLUdR0LoU5NFKCgz0VAE0AgQEEU0uUO68Wgpr66bJSGKChLjRRdd
dOWVVzrnzjzzzCuvvPLEk06JCkRUVuWM6TM++9nPnXf+BaNj1dVfueaSj3287HQMsUZhJFQwrAZB
g5AC7YOOPgt/MOOM5IBkVi0zrBk8KiIyU/IPiiFqFXtcJ6C2Gs1Op8M9jeed8cIK4v/5u69sWLfu
2i9e9U7mo194ogOpY4gxchDObZFlnXan2dfjoifpZhakdF5EjCGkRNuogoyiEiEazEMAIvAxIpst
1LCNPk8OGbyKhTy3DdfT85Kjmw9vuXPX7njVj1Zsc56Zz3rpKX09ptO2LjCgAbRBATFVG4q7DUWb
O1bymispiReUMTl5ydx7H1l49xM7vr784bquR+rw/Ll9Lzpmvo+botZWHCA7YEEICh5xrMGVG7Pk
Ab0aE0OwjKAM7AWjeE8qGVGIwIoNzIyvCgYta/bSsD0jZb1h6+ZNu3d99Jv/OO2QGRe/6z0/XrPi
sBdPyU2UWAUyjTb0Zo2goV0Fk5lezkYVvfewN6QRJqLKVZWIUsU9CXFC9U5lZ5xzH/3oR6+55pp2
u33uued+7nOfmzt3bpSoqjHGRtEYHRs9ZNEhn/rUp6qq+sENN159zdeA8K//+q9brVY3MkckRLWW
RSD4QLZbAjHGbs335yAKvUokEFBU4KjgAviICmVZ5nnOSOxiL5hyeDQr8he8/Ax28dtf+drOh9d+
+4ovX6h/cMxLX7Rtz66MDRNXZWULtNYOV52iyKyqERARBfUuRdmCqDrnbJalHF+MSAxBAgA0m81W
b685821Z20eKYkFV2WmG2bRWNvMVU9b3XnXjTXeuG8JYNN/+9je+5f87t7e9rcqGM2BAI2AMkKoS
CAAUdUVZHpWx1kwQSR14Z2RxY05x7Fkfuvhza57ezMxz5i740F998KUvOmLMexNqDg6QM8wjEpNk
LPMffbD46XcKymIIjpFT2Gr0XhyxAAYGVYQKYhNBFUMG0fnCWAjRsSmN2RNj3crnH7LQ9vVRa2Cs
Hm0a0x5u97UKiVwSjGEQC2IIRJz3PteQMe41hroxWMkwEpUsyxAQGYjIOaeqeZ5XVfWZz3zmqquu
CiG89a1vveSSS+bOnRtCEFBrbQoNN8ZEiQsWLPjCF76Q2+Lmm2+88sor2+32JZdc0tfXp6rGGIOU
+lBkmfGiqsCEz1Iffz/Cwon/ATQj5oIYVVUNsgWySAYQLQeCDkbHwEAqwUGoiU4862Wo8N0vXr1h
9WP/8sV/fKNzJ7/sjKGRYYky0GiVZWkbOSPEGHMFDJI8hlmWVVVVZHkMgZlDDHXl84JB0QdvTEMk
rnnk4X9fvrz0/VkAQBSLqEDOUQhhGKTZmrr4BZXelaOf1d9z7OGHr95WIU13wy1jjOpEvnWS+BjA
K5IAUzBWWTUGqjQTuyeE/hnTDzmM129VL1OPWRTmHHrbpljZHiNNEgHliEaICb0BGRuZPTzWW+0B
gAYhEAnEkOVMxNbklg0rRIghQ2GspSLPhW3UtWtw5nxgmx85b+6qp5745NveGZo95ZMbX3rcSaN7
hoqiGPFRuWGKWIknA9YQuUDeswaMbt847O6uISJiiMEaW7t6olhDnuedTufSSy+94oorEPH1r3/9
xz72sYULF4qIiGR5ruOOkEbRAIAocWBg4IrPf95k/KObf3jttddu3779C1/4wsyZM0NwQFzXNTNn
WYYagUi62jM+G2GpHph7WHjAqE5CqcEpRIPKFESakakOmWINKN4bBYxQjpU7m3rqG14toNd9+erH
f7Xqhq9d27T58aecuLsqS1ebRt5xNfcUiIrWiGXvfRKFeZ672pFhZo7Bt1qN2pXJ3JUQZs6e8dNv
/fid73pPnQ2gokHjCSCGPEaEEDXmmhf9vc0p/ZkfY+p8/eprdo96jJkDY4wBiTF6Ak2Jc0RUMwmk
IrQ5gw0ahEu0wYboVJuN/ikz5sYY1z+9+U//4qMSPGtkRJJUpjEtVwAVX3GeTZvS30ICHwMTARvU
0gPXQaNTdAo+AopFLnwUthEwEEjOsXLkR4/o7zn36CUPbNw0NLT1lONOfMHUab0y2vY1ci5e0Jds
japGL4aIC8aMRP2+0ZfdvQNAAku2qqsiLxCgqqosy2KMF1988dVXX13X9Vve8pbLL798cHCwLEsA
aDQadQzM7GM0iIRYuzrLsrxoNIrGZz/72YGBgauuuurGG28UkSuuuGLOnFlVXRNRAvFTKmjtarZ2
MjtsIsU+4ZJ7q/tFFbYmazZMs6hJvEogcKTG+zzLUn8Hm1n0UX0YyBtDEra59qlvOMuBXHvlVx5b
teabX/nHdxlzxCknuNFhJ5EMx9qzwTr4NoTkXkhKQ5bnt9x6y3XXXdc30P+23/u94489FkCiFyL6
/Xe8/VWvfgUw+ADKlKONCBJcgUoG1dcZyO5azdSpGjqFD8FLZoyty51ZvzUM6kHcPv5uNJ6JRRFE
GdQqolIdqVOEwpeVbTRLYmY2daXeKROx7Rb41L3orooEldwWRx47q3ZDWdYkIBXyLkY0AcAYW5g8
gHEBvGgGGSKV3lnLlSsNKFZVGNtz0ozpC+bOYMiKgDQ6PBzb0rBBpEHU7HAwmYsxxgAZd6JUIRrq
hgntrWmTsmAUALXICx+8ZVMUxdDQ0Cc+8Yl/+qd/apedN11w/qc/c2lvf1/tnSIURdGpyqxoxCiZ
zUQhihqTAWCIEmMcnD794x//eKPR+MervvrDH/6QmS+77DMLFiyKMcYYyXQ7U6RMoUlrNxzwLxMJ
19GQC963SxytMlLbyG0EAOg0uK0hSBSRCtQQEqCvql5FZRktw0tf8fIplH/1ii88ef9DX7/iH97x
Rx9cevILto/syZFIQTouR1sgi4gPnomYedmdv/zEJz6xaNGiDRs2XPKJj1/6qUuXLFmCCIi6bNmd
t93xSzJsopeMW8oBFCRa1WDBeCmxYi28ycHkVEZFCdzpy6HjMkYhFQLBVOREDYJxIGQ8oURBkYyI
EGuJnQKna/BO6oDeWsueQAhtpigAINjNsSFFABMVUWP/YDF3wXuOnLoUkVUJCKwhi0IIPsZR7z2b
bbktQ8iIsk5pms3K+SjcyjM2Ep3ftKdTo+lp4p7hkUaedYQZ8qr0HtwoQO08IicFxBMqZd5Rt3bS
Pr3KFDSESAwJHUCDW7Zsufjii7/97W+r6nnnnXfppZfOmjnLB590fAQsiiK5bKvaMbM17EMEIGZK
XYP6BgY++clPisi3vnntzTffLNF/9rLLDznkEIigoOl0EZIPnu3B6+MfXHlPcaEZmXm901542NFZ
T7MP7eqBn6OPvWwW2b4XDi4aja4MDhEtEImyYjBYQmxk+dEXvHlh37TLP/2ZJ1f86p8u/fyf/e1F
L3/t2bGqC6DcmuFdu6cVPc45Y0xye91yyy2Dg4Nf//rXo8rZrzt77dq1Ry1ZKiqqcvfdd//s5z9Z
svToBjWckYZTUSVUito22lAgyfqhPRrKEk2f6fUqJddbQaKJIEIgpICRQDOETNECBoQOggcg0JyE
CBxDXcVd0mgCivU1Knibi0DufWAbSRQl3YXAqFgFdrvdY5tWnXXO2UuPeEGsFG3KOQk5BMYYJMQ8
6z/q0Pny4mYURiKDHe97rDV5UVVVCDHLDADkWHTKoUbTRARjTakAPgIbAh+Db3KBUbz4flNQVoQN
q2XV3eN61Xg2mUiMam0WYsiz/Omnn/7oRz963XXXtVqt884771Of/t+zZs4aGh7q7+9P9dmqurLW
ArGIFHmWCtcgIhNOVPYOIVjmz37ms72tnssuu+zHP/6xKF5xxRXz58+PIVpjnXcJep2sirnh8dLh
ElPISmL8WHv381tv8RoBwBiTs92+fqNUrqpjK5pDWtMpY0CIURWACEVjymlGBURc/Oa39jdaH/nI
R9Y+9NA3Lvu7YrQzOHWq1j43tvJuz7Zt/vCjQDGKxugPPWzxLbfccu/ye0ZHR6vRcurAlGQhAtCe
PcOvfc1rr776aojd5i37/hcAgoK1NimkyRpIVrTpVofaL0pHVdVa6daJwImQHlVNhkWMMdVsTdye
maOXA9SI9Ler1qx+29veFp0FsGAjEiCAih1ql9458W0vnWL+nNmzpzEzIXmgXgFCSLxPCFLi4oTI
OIAVxajTEYkQELzEqGLZxptuaI+Wvc0OQAgxGGMkggAqyR133rFp0yZr7TXXXHPrrbcy87ve9a6P
fvSjU6dO67TLZtHSCASsArktEFP/N5Lxyh2IKN3oagghFjYrq7JRND7yF39uMvupT33q+u/fYPPs
DW94Q57ng4ODp512mogICOBkcEOKXkdI9BGjRIFGszl9+vRf3H7b7XfekdbRsglVfeyxx+4eGR2c
MZ0sK0AMgkRMIAJMXNVVlmVI1O60e5qtc845h4g++7nLtu/Y9alLP9O0eYOtL6ui2RjasefQhYtS
eDsCnHPOOatXr/7E336yqqqzzn7NkqOW2ixz3qnqkiVLTJYZm6E9eI2DCTpLgiAZm4g4kb81sXDj
ZaNZxx2SSafs1pqLIc/zCTectZaZVTXLeIKe9tUopk+ffthhh/X29qafDiFay4i4YMGiw484Yt68
BcwWgYlAFYKIEiboF5MxJiCUqsPrMx8HAHwIRZE5FwAFmSVEF2Xm9BmHHX7EwMBAlmXGmKiCiIa4
3W5fd911t956a39/f7vdPvTQQy+44IL3v+8Ppk+fHgWQCImgC5n+Bwk2MXYZUsK3ent6P/zhD8cY
v/Od76xcuXL9+vU7dux43eted/ppp3frqE1yH6xjOigookwYogBAWZZbNm7wMaQCpiKSGZuyVeso
U6dOnTNntiikVfOSGvd4a2xyeaZ81DTLtRueqoN3zhVsIUQSJSIgmjpt+uDgoDEkIkg0Oja6du3a
RqNx2GGHEVLpamYmok2bNhljpk2bllwKB8lDHC8dxsQp3zwRk+yvMu49SUj70tPeFxInGjalb6Zu
RBMNniYIK30nSNyyZcvUqVOLoiAiJqMK3vsdO7clWHL27NlJ3Keas040ZWLieEFlJVQEVnmmYaWq
xKZ2yRmMDFhWJTMPDQ2N7B4a67SPPPLIrMgRMRnznarcuXXbrl27rLV5niPivHnzWs1WWZVZ0Qgh
dTjbC4M/C22hRiLy3mc2U9D0CDHG9evXJ2xMVfv6+hYuXJgE62SiEL1249fjOGGl5ctN1weZqlyi
drl0lO6piqAp1B0g/fnejUnMA0SssQqaOn8wYFVXjbwAAB+DRZMcSSGE2rtmo+mlW4JXRJxzKTDN
2G5NVUN2X6E2sRcY40TNkzj+WkRkkla8qPuXv5q4oU4g2t05dDPb9rZm6TK58R6+xnk3wSBjt60m
MCAzpgCB1CQytUeMJKgHNJVJoaeTcA4FRMyY2522Zc7zPDjfjdQDiBJDCDbLo0QXvLXWAKbSG2mb
UtxVo9GQfQrkpheph8Vk3hgUSNFgKXonAeuqEKXLOLoKD2IiDJ1EFGJQDVEM03gXjQmRHzKzX01l
BHTeIdsJLS+EkGcWAOoQMsPOufTkqT8iA4oKAwXvVRWZwLCAhhAyk5F0N48YQwy193me13VtrU1/
nhao9i7P8hBDdrDwfEQIwaeQtEQNKcNMRCYNUt2nUNW+iW44ruXsq5BRcnTu02NhgqVNTBgRjTFE
LKIhBE6ghmER9d4jYp5bEYgQYf9a1PFZi96mDfPeF9YSgHcuxmjZeI2pfG2WZUEknaVU7MB7b61N
wdzERlScc1lWTPzCf4aw0vA+MDNTKh+vIpIZ8t4TUWLAaZGNMZP1XEInGmNMvXUO6PsDABDF2lQo
R6DbCbhbnpAQnA+JOKy1InvTbyxxilpk5uiDZUPMUaIyOw0AYJDQKxIRofN1nuU++Kia2YwAokRF
TDHXVV3leY6ALBM16vc6NNI6yXia0L761mSNNSLubT64N3MEMdmniJhql0/cDfBAbax7nxgNm6Th
VnVlODPjJbacC0mEpYYg6fSnukgHBHoAAO0jmvf9ITc+KyaUGACgm+uGqKBJVCXRT0h18BmxiLAx
zjsdT/YkTOp5l6S066L9DwgrhGgNR9GJsjYAwKip7cXE6qW3k3KsfbvY67i1mexETAJCxjssMOq4
eJ443JYmeip1iz4kPB3GWV0AQBUSQCYHEkEzYIhRmWMUwxS8M8ak9e12W9RUUqyb1h1VnXNNk+1n
3E1o5UwTp2eCb02IgwPZgCoy4bgCnX50XNnfawFAau9xsD/ffwNC1yVVFAAQoyKijy6xjYmVTHPD
fQTCAUzxACpPrwNAd31iIIC0LCl7ai/RAwBiEn8EmLKhiCgpXj4GVc1MhgBR9usZ9iyBCYmtJF6D
4y16oihRd2EnOMv4i4MTFkFUBoCopMApWRvAEkbVECVGmdBsvEgYV26YySAZRBEIIapCiAHHK55L
jKnLsoiMio9IXhI4TBZYg7CyC4GZQhRjM1UNMaCCIQZVRkoVbFJETXCumRephka3DgkppHJ+1FXp
0nMmZpNeAyIQdtMhaZ/Xk4xEyiGEiTt0qwuP/+sB/CaF+SaAI8Yokgwgyez4EU8shDh9DTUFaOtE
3lE3oGUcKJkY0h3KTFGUmVOmDSIycZpnmmEIAVO1n+QIsTZxKe89Alq2RMTjOfgT+5uuyUa3E84+
Xekm/A2p1GNKYkiZPM8y9uNY/52R+nAwUhKOqWStqk5G0QKSliMzJsaIClVVee+DRFXt7e2FJHbR
FEUeQgzROed6e3ud65beq+vaez+lf8AYkwyWLMvGxsaSWZTWvaenJ+nRtXNFUdR1DartdrvZbLbb
o6o6ffp0732Msa7r1M6KmZPdkNoel2WZeE9PT0935iIhBOeqGNV7Pzg4mGznLMtEugaEqu7YsSPV
l8syUxRF5WoAYOZ2u+2cQ8Q8z/O8G13OxNu2b2PmwcFBEfHeA5m6rltFw9VllmXMrAg7duzo7W01
G82R0ZFms8lsq6pqFI3hkeFms1mWZV9vX5LOohJVUxTohPY8YZcwk6RCeaqGTdCIyOMxg5MQ3HNs
G8gXXXzxr4Wwuok4IohokJgofTIZ2RJQp9OZcJoWeXHHHXd86UtfWr1mzV133dVoNBYfunjr1q23
3vKLGTNm9PX1bN68efny5fPnz8+yLLPZV676yg033LBy5cqH16xZsGDBwMBACOGxxx77h3/4h8MP
P3zatGmPPvro8uXLFy48pNHI9+wZuvZb35oyZcrMmTN27Nhx9dVX33DDDb/85Z3btm1bunRps9lc
vnz5unXrjjzySGa+++67V69evWTJEmPM/fff/8UvfvHBBx/8xS9+4ZxbtGhR8pHdfffdV131lRUr
7lu+fHme54cccogxpq5rYwwzqcLatWu/9rWv3X777cuWLduyZfOiRYuMtXmWj4yOXHnllbfffvtd
d921e/fuY4891rDx3n/nO9/57ne/u2LFihjjYYcdRkSPP/Hkrbfeevjiw1rNhjFm/fr1V3/taz/5
yU/uv/8+m9nFixcj4q5duy+77DIFXbpk6aZNm+68884FCxa0mq0U/OlDAIQEzDHhRBPNRF6WCAGQ
KMbIxAQYQjREzzW6fbIv/9pa91JSbgAYyXmXGUtdRPvgv+xiaDVbouLrutVsRZWNGzcODg7++Z//
ebvdLooixOC9X7t27ZlnngkAIYS1a9eeccYZrWZrrD02PDz85je/ecaMGT+86ebvfve7H/zgB4ui
CCEsW7Zs+vTpH/rQh5xza9asOffcc1Whqusnn3wy9ZmdPn36u9/97quuumrevDmvf/3rW61WCGHn
zp0jIyNJkm7fvn3r1q1Jn9i2bVuz2XzPe94zNjZ24403zpo166STToox7tix46STTnrNa85xzhVF
kbSNBNmHIES0c+fOgYGB888/f2xs5Ac/+MF3vvOd/+9974sSh4aGGo3G29/+9oGBgbIsmVlUHn/8
8bvuuuuP//iPE3UCABHt3r37oYceOv/c80Rk+/bt3/jGN4465ujzzz9/3bon05Nak3vvH3zwwcce
e+z4448nojVr1rzqVa9Ky5uEcoghY45RqQtVptDKFG6gAMCAxIyA3kdru5VFn3vmxG+SsBCQkRBx
aGho+fLlY2NjWZZN6MLPHAHUObd06dJjjzo6JVX2DfTv3r37jjvuyLLs6KOP7u3pdc6lYDTvYwih
1WqlnWDmgYGBmTNnLlywcP78+Y899liiA+fcq171qpGRkVtvvfWII47o7++v65qtSVFEMUZEMMbM
mDHj8MMPX7RoweDgYIwxuW6stQmqyPOciJJ0K4pi5syZ8+bNExFr7dDQUDruRLRhw4Z7772XmU84
4QRjTHIBQVcfh6Io+vv7582bE+PM9773vVddddX6p9YvXLjQGFNV1f33399sNo888sgErMyYMWP6
9Ok///nPjzrqqJec8ZLU8cEY09PTk4LsVqxYYa1903lvEpWFC+a3O20iIyoicuyxx+Z5/s///M9v
+N1zZ0yfFbzEqIZNu13mzUZVuV/effvIyMiEsyttR1f+MqdOlmVd5VnjjDPO6O3tFdgXYNqbCvtc
Se3XRlgSYzdlua7Lsmy3266qu638Dvp9UBFxVRViSHRZ13W77OzZs8cYk3TDpDOJiDHc09OTTnNS
rjdt2nTNNdcURTG0e8/b3/725B/03jebzQsvvPDKK6984oknWq0WMjExoHQxiC7WRWVZJggqKf51
XYcQknqUfjphctbau+++W0Q2bdo0Y8aMU089NX1ORFVV7d69OwX+Tuj4qpCaISBiQh8ScpGig5Jx
U5blnj17vPfpceq6njF9xsc+9rHbb7/9Rz/60apVqz74gQ+mXZ+ggwQZJmP50cceW7FixYUXXpg6
TYjIhRe85ac//enXv/71adOmNRoNZhSBPM/TX5Vl2el0IFVW3scjOaELAoD3HoHTCjzXjOffOGEB
MhKB6syZM1/zmnOS6/5Zho5jNmn1E+513HHHvfnCNycvoYLOnDkTAO64446XvOQly5Ytg/GjFkIo
iuKkk05S1WXLlg1On9YF6IMf67RnzZ79hnPf+Fd/9VdHH330u4z1wYtIWbWzLAuafguiyGh7LBmM
QeIhiw/93ve+t3b9umazee99K0499dRUVKNddubMm/vil5xx++2353lu88xmWeXq2ruTTjn51a9+
TcoCdcEzMyAm884Yqlw51ml3qnJ4ePib3/xm30D/zJkza1eLyJw5c84999wpA1OGhocSnnLf/fdt
3779zDPPLMvyrrvuct5lNvPej46OJpb//Oc//5e//OX111//qle9asOGDY899lhd18lduGf3cG9v
7/nnn//+97+/v7//Ax/4A1VwzuV5VoeQZdk555yzr0NiAoiZ8H0lbMy5YK2JUfZlTf8ds+7XprxD
VzyrKhjLCBCjAqCijpcQ3++K4wUjEzdm5m3bthljjjrqKMMmGbeAMNA/ZdmyZQ8//PDIyPDLXvay
eXPnJW/P7t27Tz/99OOPO77T6WzevPnQQw9l4qGhIefc0cccPXfuXOcqa83pp704mf1PP/30wkMX
DQ5OTRbGzp07p00bnDNnTvK5zpgxwzl36623PvLII7Nnzz7nnHPyLI8S9+zZ09PT8/KXv/z4449/
/PHHp0yZ0mw2i7zYtm3bsmW/fPLJtStXrlTVWbNmjTctYkBNbOnee+9dtWrVgw8+ODg45bzzzu3r
6zds6rpevnz56tWrV9y3Yvfu3QsXLkzm52233XbrrbcODw+fddZZ8+fN98EPDY+EEI5eelSRZz09
PQsXLrzv/vvvueeelGh62OLDiGh4aHTr1q1HHXXUzJkzp06d6pw7+eRTONV6FY0ijSIXiUhdnE5U
MeGxCAAooICQCrATcQghsatfS+fAXxvcoAoompzZkLzCTKqANJmbkhAw6RMpLnZoaMhkWSPPE2aY
rP08K9rtztDQ0KzZMxKck9nMB59MsDzPQwjDw8NTpkxJKEBSjJgZQYeGh3p7+1XVOaeIKbkAIhjD
IyOjbLCn1RNiCCEkcH/L1i0hhPnz5qdZRYkJ0UghDHVd13U9ZWCKDz7GuGXLJmvzsiynTZs2ZWBK
93AJAEpyrezYsSN5qKZNm5qi7xOHGBoaGh4e9t739fUNDAwkxS6z2eYtm/v7+5NBE2Osfazrur+n
FzSmuCAX/M6dO3t7e/t6+5x3IsJkUxSyMQYRx8bGrLUJnkVEMhSiZLwXLt8LN4wno3bj9SQi7uel
/i0irPEog/H74sEbt+4lxHFRmNSjxKVTH5QJT4WCBi8p/0xhv5oiEwMRE7dIoVQJJk0BMMn5P443
jpccj9JFxiUkvKo7AdAU0B1it9sZJL+NMTHGZP2lgsTJ+kuhmBM+6a66BuiDT5w4RZWkx4FxKD/x
6Yl/ShTs9vE9JH+cqk702CHc68JCxBS7y8zOuTzPg+++JsSJaG9rrYwvzmR9MGk8Ymdf0FhVJ3PR
PNfx/wNfGT/fg3exCAAAEWRlWElmTU0AKgAAAAgADAEAAAMAAAABAl0AAAEBAAMAAAABAl0AAAEC
AAMAAAADAAAAngEGAAMAAAABAAIAAAESAAMAAAABAAEAAAEVAAMAAAABAAMAAAEaAAUAAAABAAAA
pAEbAAUAAAABAAAArAEoAAMAAAABAAIAAAExAAIAAAAfAAAAtAEyAAIAAAAUAAAA04dpAAQAAAAB
AAAA6AAAASAACAAIAAgAAABIAAAAAQAAAEgAAAABQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRv
c2gpADIwMjA6MTA6MDQgMTk6Mjk6MDkAAAAEkAAABwAAAAQwMjIxoAEAAwAAAAEAAQAAoAIABAAA
AAEAAADIoAMABAAAAAEAAABBAAAAAAAAAAYBAwADAAAAAQAGAAABGgAFAAAAAQAAAW4BGwAFAAAA
AQAAAXYBKAADAAAAAQACAAACAQAEAAAAAQAAAX4CAgAEAAAAAQAAD+YAAAAAAAAASAAAAAEAAABI
AAAAAf/Y/+0ADEFkb2JlX0NNAAH/7gAOQWRvYmUAZIAAAAAB/9sAhAAMCAgICQgMCQkMEQsKCxEV
DwwMDxUYExMVExMYEQwMDAwMDBEMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMAQ0LCw0ODRAO
DhAUDg4OFBQODg4OFBEMDAwMDBERDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/
wAARCAA0AKADASIAAhEBAxEB/90ABAAK/8QBPwAAAQUBAQEBAQEAAAAAAAAAAwABAgQFBgcICQoL
AQABBQEBAQEBAQAAAAAAAAABAAIDBAUGBwgJCgsQAAEEAQMCBAIFBwYIBQMMMwEAAhEDBCESMQVB
UWETInGBMgYUkaGxQiMkFVLBYjM0coLRQwclklPw4fFjczUWorKDJkSTVGRFwqN0NhfSVeJl8rOE
w9N14/NGJ5SkhbSVxNTk9KW1xdXl9VZmdoaWprbG1ub2N0dXZ3eHl6e3x9fn9xEAAgIBAgQEAwQF
BgcHBgU1AQACEQMhMRIEQVFhcSITBTKBkRShsUIjwVLR8DMkYuFygpJDUxVjczTxJQYWorKDByY1
wtJEk1SjF2RFVTZ0ZeLys4TD03Xj80aUpIW0lcTU5PSltcXV5fVWZnaGlqa2xtbm9ic3R1dnd4eX
p7fH/9oADAMBAAIRAxEAPwD1RJDvyKMal9+TYymmsTZbY4NY0fvPe+GtVIfWP6ulpcOqYe0cn7RV
An+2kh0Ulm/85fq5/wCWuF/7EVf+TS/5zfVuP+VsL/2Iq/8AJpKp0lzGfl9cv61m4uH1AYWPhsxt
rBjsuLnXC573Ofa5n+hXTBzXNDmkFp1BGoIPguTycvDx/rJ1ZmTkU47rGYTmC61lW4BuUHFnquZu
9yh5o5BgyHFZyCPo4RxS4r6RX4wOMCW16so+s3/l5/7JVf8ApVM4/WRjXPd10NY0FznOw6QABq5z
nOu2ta1T/anSv/LDD/8AYmn/ANKKvn39HzsV2M/qeIyXMsa9uTQ6H1ObdU51dlnp3V72fpKLPZYs
WGb4mZAS96MSRxH2eLhj+ka9ttGOCjRiT/eSj/nIQC3rshwkEYdJBB1a5rhb7mp4+s3/AJef+yVX
/pVCw8ro+Hi141fUcRza93uORQJc9zrbHbK3trrb6j37Kqm+lSz9HWj/ALU6V/5YYf8A7E0/+lEJ
Z/igkeEZjGzwn2auPQ/IoRwULMQf7wSdJy+tM67Vg52eM6i/EvuA9BlJa+mzGqad1Tn7tzcl66Vc
r03Jxcj604hxsinIDcDLDjTay3b+mwPp+i52xb13WekY9rqL87Gqtr0fW+1jXNJG73Mc7c32lbPJ
Syy5eBzX7h4uLiHBL55cPp9P6LWyiImRHbw1biSoft7oX/llif8Ab9f/AJNL9v8AQv8AyyxP+36/
/Jqwxt9JVcbqfTcyw1YmXRkWNG4sqsY9wbMb9rHO9uqxeqfW6zp+dfiHBbY2gt/SOzcOqQ5ocC6n
JyK7quf8IxJVPSJLkv8An4//AMr6/wD3I4H/AL1pf8/H/wDldX/7kcD/AN60lU9H1TqFfTOm5XUb
RurxKX3OaNC4MaX7G/ynxtUOmZHVcilzup4TMC0EbK67/tEggOJc/wBKjY5rvZ+euS6t9ZrOt4tX
RzhihvUsnHxnWty8W+GG1lmQPRxL7rnfq9drfoLuklP/0O4+uYDvq5kBwDgbMcEESD+sUctK5Pre
Nit+vnRGCioMIzdzfTZBg2xubt2u2rrfrl/4ncj/AI3G/wDbihcv1wT9f+hDxGaPxtSYsuw8p/8A
RdVuLinQY1HE/wA1WNB31Ysu7J6P1LovVrsGqm2nHqyafXFNYa97KXPNmM/Z+kqbP84q7rrPrRk5
WBW9+J0XBs9LPbOzLybO1Dqvp4eDu/f/AJ3+v/M6nUa6qeh5tFFbaaKsLIZVUwQ1jfSs9rAk1SOG
r+bQ/wB16vpX/JeH/wARV/1DV579dXuw/rTd1a0Ms6fUzFw86tzA8tbcL7acxu4ObtpsrXofSf8A
kvD/AOIq/wCoauS69TVf1PrFFzN9Nv2JljPFrqs0OUXMEDFMyFxrUeDqcuCc0BE1K9PNzzi4s/zF
JHYitkEHuPaqHWLKsXHZTiY9LuoZrvs+Ez02aPP07z7PoYzXb9yH0S9+Ib+i51kW9Nb6lV7tA/D+
lXd/6D/Qs/8AMFDDfdkvt+sL649WKOnMsDiKcUu2WZttdf6V3qe661tX6X0f5CyY4jHIbPFEEcGu
mWU/5r/vpuvPKJYwIjhmQePT1YhD+d/xf0Gz0iyjNxD6+PSzMxnGjNr9NnttZ+d9H+bu/nK1cOPh
NBc+mljWglzjWyAANznfR/NasvLe/ByKuvhkU2gUdVY0GHVBxrxuo1ssDbfZtY/9L+m9Cyv/AIRS
609+dfT0DGf/AElvrZ1rNdmKPcPd+9k/mf8AqVKWIymCDwwlZlrpi4P50f4P6CY5QMZBAOSNCNjX
Jx/zUv8AC/Tb/wDi+e/L+tVvVBW2nFysG+vBqa0MPo03YzfWeGhv89ZY9C6h0npmd9ZPrPbm4zMh
9OTgtqc8H2iyl/qgQfz/AE2LY+rLK6/rNj11NFddfTchjGDhrW3YTWN/zVh9Vr64/wCs/wBZT0y/
HoqGRhDIF7S4ucaT9n9Pa123b+l9RafLy4sAI9I9Qj/VjGUoxc2UeDnBGQ9ypR4hvx3GMpaLf83f
q/8A9wKfx/8AJJf83fq//wBwKfx/8kq5p+tzWlzs7BAGpJrIAHmdif7P9b/+5uF/207/AMgjr+9+
LpXj2+7y/wASDp/UnCw8L6+ZFWJS2is9K3FrOJN1Uu1nwXU/Wb6rVdWNefhuZi9awwTiZjmhzSCC
12JmMId62Ja1zm/8Bv8A0X+Fqt5T6it6g369ZI6jZVdf+y9H0t2t2+tVtG2B7l6XCmjsHG5j+enQ
4fV8v7r5vijFyjkVWdPqwepYP/KPTDVWTWP+5mE7afX6dZ/J/ov/ABHpWIXULunYFTHOxa7773en
iYlVTDZfYdG11AM+h/pLf+/rpPrpkdNwX4udVV6v1mh9HRRWC64utHpXbatwqfVVVZY7flNsoo/6
FlD6l4nTG9d6k7Nbe36xUvIbVmlhtrxD7aHYbqf0FlL936e7H/wn6P8A4W+GXLgyu6HUJGYiNVZ6
Fu/VP6njAu/bfVmVP61c2A2prW1YrDP6tiNZ7d+12y7I/wCt/wCl9bq0wTqcChQYSbOr/9HuPrq9
rPq3lPeQ1jH47nuPAa2+hznH+q1cl1DLw+ofX7oX2DKozJbm/wBHtZYBIttbvNZc1m5i9IInlINa
OAB8AktlES38f+c8Z1f6r9Xsub1fpbW0dax27Q5zm+nk1fnYWa3d79zR+it/9R21Z9/X+l5nQ+oe
rfV0/Mbj5FN/Tsq1td9dwqe11LK7Ifexzj+hsZ/Of8Z6i9Ce5lbC+xwa1vLnEAD4uKCcvAJk30k+
Jc1Jj9iNDfRwrvrKzpFHR8R2O605VFRLtwYY/Q0enjVuafteXvubZ9lZ/gPUtWZ1w53/ADjzqunY
r8+asV+Uw44sbW5oyG0enaepdNc7fW6ze307F1mX1LExqqrnk2tusFVPpQ+XkP8Aomdrfayz3blP
7djCz0ySHixtJG06Pez1mN/7bKBAIIIBB6HVnBIIIJBHUaPmnV/q/wBY6u6h1/SsjHdRIJx8ZjDZ
W7+cxb3P63Z+gf8AyVohn1hbAb0PaGgBoGGAAANrWtjr3t2tXZ/tzAAyXO9RoxGWWvmt3urpLmXW
UAD9Nse3Z7EQdVwnNa5r9zX2V1McGkhzrWttp2mPoPZY33ppxYyADCJA2BjGlwy5ASROQJ3PFKy8
O+rr9jHsf0Pcyxpa9pxBDmuG1zXf5eVDovQetdGrtZT0u/KdcWl1uTisc8NYNlNDHVdbq/Q1L0av
quO91zSy2v0LmY7jYwtBseWsZ6Z/wjffX+kb7Peo39bwqGhzvUeC+1h2Mc7b6BIyHv8A+Dq2/S/P
S9rGAYiEeE7jhjRUcuQkSM5cQ2PFKw8z9WmZg+stbs/Edg2/YbxQz7OKm2NNuIbnG0dR6n76Xej+
j2VfzyqUYmTmfWX62U4rPVsGT09xbIboKbe74au1HUcd+Y3DYHPeWCwvaPYGuDnVy+fz/TTZvU8b
Ce1lwsMtNjnMYXtYxpa11tpb9BnvThCIjwgCMe0dFRyzjkGS+KcSDcvVt3eSyPqz1m5jR9mbLHix
os9O2skAt23Y73tZfX7/AKG7+c/SJY/1Z6xj49WOzHc5tTAxrnWMJIHj7l17c+h+a/Da15sqaHWP
j2CRvDd39VyHj9Ww8nHoyGbxVk2CuguaRvJBexzf5D2N/O/6tN9sVVls/wCkMvEZ8MOIjhupbD/D
eP8Aq5jZGL/jFyKchuyw9IDtsg6evX+6ug679bsDprvsOGR1HrVrvSx+mUuBtNhG/wDWI/o1LWfp
LLbf8GtBvV8N1WRkAWHHxWOsdeK3Fjms3er9neB+n27P8H9P/BouHmYmYw24rt7CGu3wRuD2ttrc
Nwbu9j04ChTVyTM5ymauRs05P1e+rtuJdZ1jq9gzOu5Yi+8D2Us/NwsFp/msev8Az7/pvRvrF9XK
usMqyKLXYXVcI78HPr+nW79x4/w2NZ9G2l60vt2F/wByKv8APb/eiV3U3Amp7bADBLSHQfD2orHn
uifWxj7j0jr5r6d1ylza3UucG15BedlOR097/wCeryP9F/Osf+jXSJi0GJAMahOkp//S9USXyski
h+pb/Q9J32jZ6Me/1I2x/K3+1VP8g/8AdT/wNfMqSCX6Xy/2N6WJ6/pfZvX/AFeNvperst5j9F9H
1f8AriG/9l/tgT6vr7mbo3eh62x3oepH6L7R9n+h/wBa/wAJ6C+bEklP0ZX/AM3dnUfQmPTs/aPp
7t0epdu9Xb7/ALR6v2r0/wDCen/1lTp/YU3eju/5SHqRv2/bdte7ZPt9P/S7P0Hrer/hfUXzgkkp
+lsj9m/Zszfv2+u31dm7f9oin0fs8e71N32f0tn56oZf/Nf7DR9u/mpyNnr7t/q6/bN+7/tZv9TZ
/wCAL54SSU/S36p+2RHqfa/TZ6n0du2LfT37v0n7/wDMfo1DrP7O9Vv2z19vpP8AW9Hds9DdX6v2
nZ7vS3/T9P8AwXq/4D1F82JJKfpav7D+18j0vU9fYPX2xs+gNkR+sfzW3+a/Rf8AXFXwv2NsZs9X
f9tG71d3qfavS9nr/wDoL6f0v+v/AKxvXzikkp+imfsH083b632b7PfMep6XoT+vfYdv/C/uf+g3
6FX+m/s71M/7Dz9pP2uJ2+v6dXqbN3t/m/S9b0f0frep/hvWXzMkkp+mf8g/91P/AANWcX7Ftd9j
9LZPu9HbG6PzvT/O2r5dSSU/VKS+VkkUP//Z14+khwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0x
MC0wOVQxNjoyNzo1NiswMDowMBjq9CcAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMTAtMDlUMTY6
Mjc6NTYrMDA6MDBpt0ybAAAAGnRFWHRleGlmOkJpdHNQZXJTYW1wbGUAOCwgOCwgOBLtPicAAAAR
dEVYdGV4aWY6Q29sb3JTcGFjZQAxD5sCSQAAACF0RVh0ZXhpZjpEYXRlVGltZQAyMDIwOjEwOjA0
IDE5OjI5OjA5LskCFwAAABN0RVh0ZXhpZjpFeGlmT2Zmc2V0ADIzMlopxD0AAAAfdEVYdGV4aWY6
RXhpZlZlcnNpb24ANDgsIDUwLCA1MCwgNDlj1An4AAAAFHRFWHRleGlmOkltYWdlTGVuZ3RoADYw
NQi8yw8AAAATdEVYdGV4aWY6SW1hZ2VXaWR0aAA2MDXbwNuCAAAAIHRFWHRleGlmOlBob3RvbWV0
cmljSW50ZXJwcmV0YXRpb24AMqKMiSsAAAAYdEVYdGV4aWY6UGl4ZWxYRGltZW5zaW9uADIwMER0
/jQAAAAXdEVYdGV4aWY6UGl4ZWxZRGltZW5zaW9uADY1tinfdAAAABZ0RVh0ZXhpZjpTYW1wbGVz
UGVyUGl4ZWwAM6cVGaUAAAAsdEVYdGV4aWY6U29mdHdhcmUAQWRvYmUgUGhvdG9zaG9wIENDIChN
YWNpbnRvc2gpOFvoagAAABx0RVh0ZXhpZjp0aHVtYm5haWw6Q29tcHJlc3Npb24ANvllcFcAAAAo
dEVYdGV4aWY6dGh1bWJuYWlsOkpQRUdJbnRlcmNoYW5nZUZvcm1hdAAzODKN/eBVAAAAL3RFWHRl
eGlmOnRodW1ibmFpbDpKUEVHSW50ZXJjaGFuZ2VGb3JtYXRMZW5ndGgANDA3MDD4I24AAAAfdEVY
dGV4aWY6dGh1bWJuYWlsOlJlc29sdXRpb25Vbml0ADIlQF7TAAAAH3RFWHRleGlmOnRodW1ibmFp
bDpYUmVzb2x1dGlvbgA3Mi8x2ocYLAAAAB90RVh0ZXhpZjp0aHVtYm5haWw6WVJlc29sdXRpb24A
NzIvMXTvib0AAAAQdEVYdGljYzpjb3B5cmlnaHQARkKztePfAAAAEnRFWHRpY2M6ZGVzY3JpcHRp
b24AYzL4msHLAAAAAElFTkSuQmCC" />
</svg>
{#                {% for home in homes %}#}
{#                    {% if home.isActive ==1 %}#}
{#                        <img  class="w-100" src="{{ asset('images/home/'~home.logo) }}" alt="{{ home.logoAlt }}">#}
{#                    {% endif %}#}
{#                {% endfor %}#}
            </a>
            <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon" aria-label="menu"></span>
            </button>
            <div class="collapse navbar-collapse text-center h6 mb-0" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pt-md-3 pb-md-3" id="customC">
                        <a class="nav-link text-dark" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item pt-md-3 pb-md-3" id="customC1">
                        <a class="nav-link text-dark" href="{{ path('gallery') }}">Galerie</a>
                    </li>
                    <li class="nav-item pt-md-3 pb-md-3" id="customC2">
                        <a class="nav-link text-dark" href="{{ path('personnalisation') }}">Personnalisation</a>
                    </li>
                    <li class="nav-item pt-md-3 pb-md-3" id="customC3">
                        <a class="nav-link text-dark" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

